.mainContainer {
  justify-content: center;
  text-align: center;  
  width: 100%;
  padding: 100px 20px 100px 20px;
  background-color: #C0C0C0;
  color: white; 
  height: 100%;
  
}
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}
.wavesContainer {
  background-color: white;
  padding: 30px;
  font-size: 8px;
  margin-top: 16px;
  color: black;
}
.footer-container {
  padding-top: 60px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  color: white;
}